*{
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}
.navbar-all{
    background-color: #222;
    border-top: 5px solid rgb(238, 1, 187);
    position: relative;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 20px;
    position: relative;
}
.list-nav-top{
    
}
.list-nav-top button{
    background-color: #222;
    color: rgb(185, 183, 183);
    border: 0;
    padding: 8px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out ;
    font-size: 14px;

}
.list-nav-top .active{
    background-color: #444;
   

}
.list-nav-top button:hover{
    color: #fff;
  
}
.list-nav-top i{
    padding-right: 10px;
}
.list-nav-top img{
    background-color: #fff;
    color: #fff;
    margin-right: 10px;
}



.navbar-bottom{
    padding:10px 20px;
}
.left-nav-bottom button{
    background-color: #222;
    color: rgb(185, 183, 183);
    padding:2px 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-out ;
    font-size: 14px;
}
.left-nav-bottom button:hover{
    
    color: #fff;
    
}
.left-nav-bottom .active{
    
    color: #fff;
    
}
.videoHive{
    position: absolute;
    background-color: #444;
    border-radius: 20px;
    bottom: -20px;
    right: 10px;
    z-index: 1;
}
#ourpro{
  
}
#ourpro:hover{
   
}
.opacity{
    display: inline-block;
}



.containeroF-ourproducts{
    width: 300px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 60px;
    right: 50px;
    z-index: 2;
    transition: opacity 0.5s ease;
    display: none;
    
    
  
   
 
    
}

.contentofOurproducts{
    padding: 20px 30px;
    
}
.contentofOurproducts p{
   font-size: 12px;
   opacity: 80%;
}

.bottom-text{
    margin-top: 35px;
}
.bottom-text a{
   text-decoration: none;
   color: #111;
   opacity: 90%;
   border-bottom: 1px solid ;
}
.bottom-text a:hover{
   color:#000 ;
   opacity: 100%;
}
.squareactive{
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    right: 200px;
    transform: rotate(45deg);
}
.elememtslog img{
    cursor: pointer;
}
.studilog{
    cursor: pointer;
}
.tutslog{
    cursor: pointer;
}
.envatolog{
    cursor: pointer;
}



.photos{
    display: none;
}
.ddfiles{
    display: none;
}

.squarevideo{
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    bottom:-10px;
    left: 300px;
    transform: rotate(45deg);
  
}

.drowpdonList{
    padding: 20px;
}

.drowpdonList button{
    text-transform: capitalize;
    border: 0;
    background-color: transparent;
    padding: 8px 10px ;
    font-size: 14px;
}
.drowpdonList button:hover{
    background-color: rgb(194, 193, 193);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.drowpdonList button:active{
    background-color: rgb(194, 193, 193);
    outline: none;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
   
    
}
.drowpdonList button:focus{
    background-color: rgb(194, 193, 193);
    outline: none;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
   
    
}

.cont-drowp-alllist{
    position: absolute;
    background-color: #fff;
    width: 200px;
    top: 190px;
    left: 20px;
    display: none;
   
}
.content-alllist{
    display: flex;
    flex-direction: column;
   
}
.content-alllist button{
    text-align: left;  
    padding:5px 10px; 
    border: 0;
}
.content-alllist button:hover{
   background-color: rgb(209, 204, 204);
}
#bot-border{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.displayon{
    display: block;
}
.displayoff{
    display: none;
}
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
  }
  
  .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
  .bg-navbar{
    background-color: rgb(224, 224, 224);
      color: #111;
      border-bottom: 1px solid rgba(0,0,0,0.1);
  }

.text-edit{
    font-size: 13px;
    color: #111;
    padding:10px 15px;
    z-index: -1;
   
}
.text-edit:hover{
     background-color: #999;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.border-bottom{
    border-bottom: 1px solid;
}

.editr-font-list a{
    font-size: 10px;
    border: 0;
   margin: 0;
   font-weight: 500;
}
.editr-font-list a:hover{
   background-color: rgb(223, 219, 219);
}
.editr-font-list{
    
    
}
.dropdown-toggle::after {
    border: 0;
}
.pupularitems{
    margin-left: 90px;
}
.PremierePro{
    margin-left: 188px;
}
.AppleMotion {
    margin-left: 281px;
}
.nav-link span{
    background-color: rgba(7, 3, 3, 0.15);
    padding: 2px 5px;
}
.DaVinciResolve{
    margin-left: 380px;
}
.MotionGraphics{
    margin-left: 528px;
}
.StockFootage{
    margin-left: 640px;
}
.AddOns {
    margin-left: 740px; 
}
.VideoMaker{
    margin-left: 810px; 
}
.More{
    margin-left: 925px; 
}
.dis-more{
    display: none;
}
.dis-vidomaker{
    display: none;
}
.dis-addons{
    display: none;
}
.dis-stock{
    display: none;
}
.dis-motion{
    display: none;
}
/* -------------------Inroduce------------------ */
.textIntro p{
    font-size: 17px;
    
}
.textIntro h1{
    font-size: 40px;
}
.shearchIntro{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px ;
    
    
}
.inputShearchIntro input{

    border: none;
    background-color: #fff;
}
.inputShearchIntro input:focus{
    outline: none;
   
}
.btnShearchIntro button{
    background-color: rgb(113, 184, 32);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    opacity: 90%;
    margin-left: 20px;
    cursor: pointer;
}
.btnShearchIntro button:focus{
    outline: none;
}
.btnShearchIntro button:hover{
    background-color:rgb(121, 212, 17) ;
}
.btnShearchIntro button:active{
    transform: scale(0.95);
}
.btnShearchIntro button i{
    margin-right: 8px;
}
/* --------------category  card------------------ */
.cardCat{
    background-color: rgba(255, 255, 255, 0.685);
    padding: 30px ;
    padding-bottom: 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
}
.cardCat:hover{
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 5px 2px 20px rgba(0,0,0,0.2);
}
.imgCard{
    margin-top: 50px;
    position: relative;
    transition: all 0.3s ease-in;
    border-radius: 5px;

}
.imgCard img{
    border-radius: 5px;
}
.imgCard:hover{
    transform: translateY(-10px);

}
.svgCard{
    position: absolute;
    top: -15%;
    left: 42%;
}
.svgCard img{
    
    border-radius: 50%;
    border:5px solid #fff ;
}

.allCatBtn{
    text-align: center;
    margin: 30px;
    
}
.allCatBtn button{
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    background-color: rgb(113, 184, 32);
    color: #fff;
    cursor: pointer;

}
.allCatBtn button:hover{
    background-color:rgb(121, 212, 17) ;
}
.allCatBtn button:focus{
   outline: none;
}
.allCatBtn button:active{
    transform: scale(0.9);
}

/* -----cv------- */
.cardVid{
    background-color: #fff;
    margin-top: 10px;
    position: relative;
}
.rateCV{
    display: flex;
    justify-content: space-between;
}
.txtCV{
    padding: 10px;
}
.txtCV h4 a{
    color: #222;
}
.rateCV p{
    padding: 10px;
}
.prate p{
    padding: 10px;
    opacity: 80%;
}
.rateCV p a{
   color: #000;
}
.starrate{
    padding: 10px;
}
.starrate img{
   width: 12px;
}
.textCVmain {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
    
}


.allCvText{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    

}
.text{
    display: none;
    
}
.textO{
    display: none;
}
.textT{
    display: none;
}
.textTR{
    display: none;
}

.txtCV-2 h4 a{
    color: #000;
}
.txtCV-2 h4{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
}
.prate-2 p{
    padding: 0 10px;
    margin: 0;
}

.containerSquare{
    position: relative;
    opacity: 80%;
}
.squareBorder{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 3px;
    left: 20px;
    border: 2px dashed rgba(0,0,0,0.4);
    z-index: -1;
    border-radius: 10px;
}




/* /* -------------------FV------------------  */
.bgallFv{
   
}
.cardFv{
    background-color: #fff;
    margin-top: 20px;
    
}

.buyFv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    padding-bottom: 20px;
}
.logoBuy i{
    background-color: greenyellow;
    border: 1px solid #fff;
    padding: 20px;
    opacity: 80%;
    transition: all 0.3s ease-in-out;
    color: #000;
   
}
.logoBuy i:hover{
    background-color: rgb(153, 255, 0);
    font-size: 17px;
    box-shadow: 1px 5px 10px rgba(153, 255, 0, 0.9);
    color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
   
 
}
.logoBuy i:active{
    outline: 0;
    transform: scale(0.9);
 
}
.logoBuy{
    display: flex;
    align-items: center;
    cursor: pointer;
} 
.textFv{
   padding: 10px;
   height: 120px;
  
}
.textFv h5 a{
  color: #000;

}
.textFv p a{
  color: #000;
  opacity: 80%;
}
.textFv p{
    
} 

.bgalltextFv{
    display: flex;
    background-color: #fff;
    height: 100%;
    margin-bottom: 30px;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    position: relative;
    border-radius: 5px;
    
}
.textFvc4 p{
    font-size: 17px;
    line-height: 35px;

}
.textFvc4 h3{
    font-size: 30px;

}
.btnFv button{
    background-color:rgb(113, 184, 32) ;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}
.btnFv button:hover{
    background-color:rgb(132, 238, 12) ;
    
}
.btnFv button:focus{
   outline: 0;
    
}
.btnFv button:active{
  transform: scale(0.95);
    
}
.btnFv-2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btnFv-2 button{
    background-color:rgb(113, 184, 32) ;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btnFv-2 button:hover{
    background-color:rgba(137, 243, 16, 0.685) ;
    
}
.btnFv-2 button:focus{
    outline: 0;
}
.btnFv-2 button:active{
   outline: 0;
   transform: scale(0.9);
}
.bordereffect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    top: 10px;
    left: 10px;
    border: 1.5px dashed #000;
    opacity: 80%;
    border-radius: 5px;
}



/* -------------quality card--------- */
.cardQuality{
    background-color: #fff;
    margin: 10px 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.cardQuality:hover{
   background-color: rgba(255, 255, 255, 0.76);
   box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}
.cardQuality:hover .logoQual  {
    transform: scale(1.1);
    opacity: 100%;
} 
.logoQual{
    width: 80px;
    height: 50px;
    background-color: rgb(241, 180, 99);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
    opacity: 80%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.logoQual i{
   color: #fff;
   font-size: 20px;
}
.textQual p{
    font-size: 12px;
}
#logoQual-1{
    background-color: rgb(174, 146, 219);
}
#logoQual{
    background-color: rgb(19, 177, 224);
}



.headerQuality{
    text-align: center;
    
}
.headerQuality h3{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 400;
    
}
.margin-top{
    margin-top: 150px;
}

/* ----------footage------------------ */

.contetList{
    margin-top: 10px;
    background-color: #fff;
    width: 150px ;
    height: 50px;
    display: flex;
    align-items: center;
   cursor: pointer;
   text-align: center;
   justify-content: center;
}
.contetList a{
    
    /* white-space: nowrap; */
    font-size: 15px;
    padding: 5px ;
  

}
/* ---------footage sm---------------- */

.listFootageAround{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
    align-items: center;
    border: 1px solid rgb(15, 219, 15);
}
.textFootage{
    padding-top: 5px;
    margin-left: 20px;
}
.textFootage p{
    font-size: 18px;
    letter-spacing: 1px;
}
.iconFootage{
    margin: 20px;
}
.iconFootage i{
   font-size: 20px;
   cursor: pointer;
   transition: all 0.3s ease;
   border-radius: 50%;
   padding: 3px;
}
.iconFootage i:hover{
  font-size: 22px;
  background-color: rgba(15, 219, 15,0.6);
}

.dropListfootage{
    width: 77%;
    position: absolute;
    top: 68px;
    left: 70px;
    background-color: #fff;
    z-index: 1;
    display: none;

}

.dropListfootageOn{
   
    display: flex;
}


.textListDroup{
    display: flex;
    flex-direction: column;

   
    
    
}
.textListDroup button{
    border: 0;
    cursor: pointer;
    padding-top: 10px;
    text-align: left;
    background-color: #fff;
   
   
}
.textListDroup button:hover{
   background-color: rgb(221, 216, 216);
   border-bottom: 1px solid #999;
   
}


.header-footage{
    text-align: center;
    margin: 20px;
  
}
.header-footage h3{
    font-weight: 400;
}
.header-footage p{
    text-align: justify;
    margin-top: 20px;
    
  
}

#footageV{
    padding: 0 40px;
}

/* ---------bobirs------------------ */
.contLogoBobir{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}
.textBtnBobir h5{
    padding-top: 20px;
}
.textBtnBobir p{
    white-space: nowrap;
}
.textBtnBobir button{
    border: 0;
    background-color:rgb(113, 184, 32) ;
    color: #fff;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.textBtnBobir button:hover{
    
    background-color:rgb(118, 214, 9) ;
   
}
.textBtnBobir button:focus{
    outline: 0;
}
.textBtnBobir button:active{
    transform: scale(0.95);
}
.contentBobircol-8 h5{
    font-weight: 400;
    padding: 40px;
    text-align: justify;
    font-size: 18px;
}
.shadow{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    
}
.bg-bobirs{
    background-color: rgba(255, 255, 255, 0.521);
}


.heightBobir{
    height: 490px;
    background-color: #fff;
    padding: 30px;
    opacity: 90%;
    display: flex;
    justify-content: center;
    
}

/* ----------------selling------------------------- */
.starrate-1 span{
    font-size: 14px;
}
.starrate-1 img{
    width: 14px;
}

#header-selling{
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
}

/* ----------------downloud------------------------- */
.content-down{
    display: flex;
    justify-content: space-between;
}
.logoview button{
    padding: 5px 20px;
    margin: 30px 25px 0 0;
    border: none;
    background-color: #fff;
    color: rgb(255, 0, 242);
    border: 1px solid rgb(255, 0, 242);
    border-radius: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    font-weight: 700;

}
.logoview button:hover{
    box-shadow: 2px 1px 10px rgba(0,0,0,0.3);
}
.logoview button:focus{
  outline: 0;
}
.logoview button:active{
    transform: scale(0.9);
}
#selling{
    margin-top: 180px;
}


/* ---carousle--------------------- */
.carouselHeder{
    font-size: 15px;
}
.carouselP{
    font-size: 12px;
}


.owl-dots  {
    display: none;
    
}
.owl-prev span {
    display: none;
}
.owl-next span {
    display: none;
}


.textFvc4{
    text-align: center;
    margin-top: 150px;
}


/* -----------grab--------- */
.hieght-card{
    height: 300px;
    transition: all 0.3s ease-out;
    
}
.hieght-card:hover{
   transform: translateY(-3px);
   box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    
}
/* -----------evanto--------- */
.grab{
    padding: 40px 20px;
    margin-top: 100px;
}
.cardEvanto{
    background-color: #fff;
    cursor: pointer;
    height: 300px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}
.cardEvanto:hover{
    transform: translateY(-3px);
    opacity: 90%;
}
.headerEvanto{
    padding: 10px;
}
.headerEvanto h3{
    font-size: 18px;
}
.textEvanto{
    padding: 10px;
}
.textEvanto p{
    margin-bottom: 40px;
}
.imgEvanto img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* -------------------footer------------------ */
.footerContent{
    display: flex;
    justify-content: space-around;
}

.list{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 20px;
}
.list a{
    text-decoration: none;
    color: #fff;
    padding-top: 5px;
    text-transform: capitalize;
}
.list p{
    font-size: 15px;
    margin-bottom: 0;
    color: #fff;
    opacity: 80%;
    text-transform: capitalize;
}
.footerp{
    background-color: #111;

}
.hr{
    background-color: #fff;
}
.envatoLiatFooter a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.textSD p{
    color: #fff;
    opacity: 80%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 0;
}
.socialMedis{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.logosdList{
    margin-top: 50px;
    padding-right: 10px;
}
.logosdList i{
    font-size: 25px;
    
}
.reco h5{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize;
}
.transformUp{
    margin-left: 10px;
    color: red;
}


/* -------------------media------------------ */
@media(min-width:900px){
    .dis-motion{
        display: block;
    }
}
@media(min-width:1000px){
    .dis-stock{
        display: block;
    }
}
@media(min-width:1100px){
    .dis-addons{
        display: block;
    }
}
@media(min-width:1150px){
    .dis-vidomaker{
        display: block;
    }
}
@media(min-width:1250px){
    .dis-more{
        display: block;
    }
}
/* ---------end media dropdown list---------- */

@media(min-width:800px){
    .photos{
        display: inline-block;
    }
}
@media(min-width:950px){
    .ddfiles{
        display: inline-block;
    }
    
}

/* ----------- */
@media(max-width:990px){
    .textIntro h1{
        font-size: 25px;
        text-align: center;
    }
    
}

/* --------Fv-------- */
@media(min-width:990px){
    .btnFv button{
        background-color:rgb(113, 184, 32) ;
        color: #fff;
        border: none;
        padding: 8px 20px;
        margin-top: 20px;
        display: block;
    }
    
    
}
@media(max-width:991px){
    .bgalltextFv{
        display: flex;
        background-color: transparent;
        height: 100%;
        margin-bottom: 30px;
        text-align: justify;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 60px;
        
    }
    
    
}

/* --------------quality------------- */
@media(max-width:767px){
    .textQual p{
        font-size: 20px;
    }
    
    
}
@media(min-width:991px){
    .textQual p{
        font-size: 16px;
    }
    
    
}
@media(min-width:1490px){
    .textQual p{
        font-size: 20px;
    }
    
    
}



/* -----------------footage------------- */

@media(min-width:1200px){
    .contetList{
        margin-top: 10px;
        background-color: #fff;
        width: 170px ;
        height: 50px;
        display: flex;
        align-items: center;
       cursor: pointer;
       text-align: center;
    }
    
}
@media(min-width:1300px){
    .contetList{
        margin-top: 10px;
        background-color: #fff;
        width: 190px ;
        height: 50px;
        display: flex;
        align-items: center;
       cursor: pointer;
       text-align: center;
    }
    
}
@media(min-width:1400px){
    .contetList{
        margin-top: 10px;
        background-color: #fff;
        width: 210px ;
        height: 50px;
        display: flex;
        align-items: center;
       cursor: pointer;
       text-align: center;
    }
    
}

